
.container{
	width:1024px;
	margin:auto;
}

.cart-page-product-header{
	-webkit-box-align:center;
	-webkit-align-items:center;
	-moz-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	box-shadow:0 15px 15px ;
	border-radius:1px;
	overflow:hidden;
	border-radius:3px;
	height:200px;
	width:1024px;
	font-size:15px;
	background:#fff;
	text-transform:capitalize;
	margin-bottom:12px;
	color:#888;
	padding:0 20px;
}
.cart-page-product-header__product{
	color:rgba(0,0,0,.8);
	width:5px;
}
.cart-page-product-header__unit-price{
	width:10px;
	text-align:center;
}
.cart-page-product-header__quantity{
	width:10px;
	text-align:center;
}
.cart-page-product-header__total-price{
	width:10px;
	text-align:center;
}
.cart-page-product-header__action{
	width:10px;
	text-align:center;
}
.cart-item__cell-checkbox{
	padding:0 12px 0 20px;
	display:-webkit-box;
	display:-webkit-flex;
	display:-moz-box;display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:reverse;
	-webkit-flex-direction:row-reverse;
	-moz-box-orient:horizontal;
	-moz-box-direction:reverse;
	-ms-flex-direction:row-reverse;
	flex-direction:row-reverse;
	min-width:58px;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.cart-page__content{
	display:-webkit-box;
	display:-webkit-flex;
	display:-moz-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-webkit-flex-direction:column;
	-moz-box-orient:vertical;
	-moz-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
	color:rgba(0,0,0,.8);
}
.cart-page__content--opc{
	padding-top:2rem;
}
